.About-page-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
}
.About-page-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
}
.About-profile-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.About-page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
