.About-page-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
}
.About-page-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
}
.About-profile-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  border-radius: 150px;
  border: 5px solid white;
}
.About-profile-top-background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 50%;
  width: 100%;
  background-image: url('./profile-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.About-page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: 'Arcade Heading';
  src: url(ARCADE_N.TTF);
}
@font-face {
  font-family: 'Arcade Text';
  src: url(ARCADE_N.TTF)
}
.About-heading {
  color: #06F;
  font-family: 'Arcade Heading';
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, 0);
}
.About-text {
  color: gray;
  font-family: 'Arcade Text';
  font-size: 7.5pt;
  position: absolute;
  left: 50%;
  bottom: 45px;
  transform: translate(-50%, 0);
}
