.Page {
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  box-shadow: 0px 0px 5px 0px gray;
}
.Page-controls {
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  color: gray;
}
.Page-controls:hover {
  color: black;
  cursor: pointer;
}
.Page-controls:visited {
  color: lightgray;
}
.Page-controls:active {
  color: gray;
}
.Page-mini-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 10px;
  /* border: 1px solid green; */
  opacity: 0;
  height: 25px;
  width: 63.5px;
  /* border: 1px solid lightgreen; */
}
.Page-nav-button {
  cursor: pointer;
}
.Page-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 47.5px;
  /* border: 1px solid lightgreen; */
}
